
.container {
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 1450px;

}

.box {
    height: 200px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box1 {
    height: 600px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box2 {
    height: 600px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    left: 220px;
    bottom: 200px;
}

.box3 {
    height: 600px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    left: 220px;
    bottom: 200px;
}

.box4 {
    height: 200px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    right: 1083px;
}

.box5 {
    height: 400px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box6 {
    height: 200px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    bottom: 400px;
}