@media screen and (min-width: 0) and (max-width: 768px) {
    .box1 {
        height: 400px;
        background: silver;
    }

    .box2 {
        height: 150px;
        width: 150px;
        background: silver;
        margin: 8px;
        position: relative;
        top: 50px;
        left: 15px;
    }

    .box3 {
        height: 150px;
        width: 150px;
        background: silver;
        margin: 8px;
        position: relative;
        top: 50px;
        left: 15px;
    }
.box4 {
    height: 200px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    top: 100px;
}
.container {
    height: 1110px;
}
}
