.father {
    margin: 50px;
    border: 2px solid black;
    padding: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box {
    height: 200px;
    background: silver;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box:nth-child(2) {
    height: 500px;
}

.box1 {
    background: silver;
    border: 5px solid white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}