body {
    margin: 0;
   background: silver;
}

.container {
    height: 500px;
    position: relative;
    top: 75px;
    background: #3d3d6c;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

h2 {
    margin: 50px;
    font-family: Arial;
}

.box {
    color: black;
    width: 150px;
    height: 150px;
    border: solid 1px black;
    font-family: cursive;
    margin: 10px;
    text-align: center;
    position: relative;
    top: 250px;
}

p {
    color: rgba(0, 0, 0, 50%);
    padding: 10px;
    font-family: Arial;
    font-size: 18px;
}


h4 {
    font-family: Arial;
    border: solid 1px black;
    margin: 50px;
    padding: 10px
}

.box {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: mediumslateblue;
}
.box1 {
    width: 150px;
    height: 50px;
    background: #3d3d6c;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: relative;
    left: 150px;
    top: 50px;
}
.fa-bars {
    position: relative;
    top: 10px;
    left: 1475px;
    font-size: 24px;
    color: #3d3d6c;
}
.fa-magnifying-glass {
    position: relative;
    bottom: 15px;
    left: 1425px;
    font-size: 24px;
    color: #3d3d6c;

}
